MONGODB_CONNECTION="MongoDB URL here. Can be found in MongoDB Atlas."
SERVER_PORT = "Port of your choice. Default is 3000"
SESSION_SECRET="Your secret here (random string literally anything you want)"

BUCKET_NAME="AWS bucket name here"
BUCKET_REGION="AWS bucket region here"
ACCESS_KEY="AWS access key here"
SECRET_ACCESS_KEY="AWS secret access key here"

